<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="JummahManagement.Properties.Settings.dbJummah_ManagementConnectionString" connectionString="Data Source=SLTJ-PC\SQLEXPRESS;Initial Catalog=dbJummah_Management;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="dbJummah_ManagementEntities" connectionString="metadata=res://*/JummaModel.csdl|res://*/JummaModel.ssdl|res://*/JummaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SLTJ-PC\SQLEXPRESS;initial catalog=dbJummah_Management;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>