<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JummahManagement.Properties.Settings.dbJummah_ManagementConnectionString"
            connectionString="Data Source=SLTJ-PC\SQLEXPRESS;Initial Catalog=dbJummah_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>