<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="envdte" version="17.7.37355" targetFramework="net48" />
  <package id="envdte80" version="17.7.37355" targetFramework="net48" />
  <package id="FreeSpire.PDF" version="8.6.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="17.7.188" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.7.37349" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TemplateWizardInterface" version="17.5.33428.366" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="17.7.37355" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="net48" />
  <package id="NuGet.VisualStudio" version="17.7.0" targetFramework="net48" />
  <package id="Spire.PDF" version="9.8.5" targetFramework="net48" />
  <package id="stdole" version="17.7.37355" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="7.0.0" targetFramework="net48" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net471" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net471" />
  <package id="VSSDK.IDE.12" version="12.0.4" targetFramework="net471" />
  <package id="VSSDK.TemplateWizardInterface" version="12.0.4" targetFramework="net471" />
</packages>